{% extends "base.html" %}
{% block title %}{{ contest.name }}{% endblock %}
{% block content %}
    <!-- templates/contest_detail.html -->
    <h1>{{ contest.name }}</h1>
    <p>
        <strong>Start Time:</strong> {{ contest.start_time|date:"M d, Y H:i" }}
    </p>
    <p>
        <strong>End Time:</strong> {{ contest.end_time|date:"M d, Y H:i" }}
    </p>
    <p>
        <strong>Status:</strong>
        {% if contest.status == "N" %}
            <span style="color: grey;">Not Started Yet</span>
        {% elif contest.status == "R" %}
            <span style="color: green;">Running</span>
        {% elif contest.status == "F" %}
            <span style="color: orange;">Finished</span>
        {% endif %}
    </p>
    <p>
        <a href="{% url 'contest_leaderboard' contest.id %}">
            <button>Leaderboard</button>
        </a>
    </p>
    {% if contest.status == "R" %}
        <p>
            <strong>Time Left:</strong>
            {{ time_left }}
        </p>
    {% elif contest.status == "N" %}
        <p>
            <strong>Starts in:</strong>
            {{ time_left }}
        </p>
    {% endif %}
    <h2 style="text-align: center; vertical-align: middle;">Problems</h2>
    {% if problems and contest.status != "N" %}
        <table>
            {% for problem in problems %}
                <tr>
                    <td style="text-align: center; vertical-align: middle;">
                        <a href="{% url 'problem_detail' contest.id problem.id %}">{{ problem.name }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No problems available for this contest.</p>
    {% endif %}
{% endblock %}
